body{
    background-color: black;
}
footer{
    text-align: center;
    color: #e6d62b;
    background: linear-gradient(0deg, rgba(0,0,0,1) 38%, rgba(20,85,204,1) 96%);
    padding: 20px;
}
/* Classes réutilisables */
.imgFluide{
    max-width: 100%;
    height: auto;
}
.zindex50{
    z-index: 49;
}
.textRight{
    text-align: right;
}
/* Navigation */
header{
    width: 100%;
    background-color: #e6d62b;
    padding: 10px;
    padding-bottom: 30px;
    overflow: hidden;
    position: fixed;
    box-shadow: 0px 10px 12px -1px rgba(134, 134, 134, 0.75);
    z-index: 50;
}
#liens{
    display: none;

}
header a{
    color: #2e0f11;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;;
}

header a.icon{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
/* Hamburger */
.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
  }
  .line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }



/* Carousel**/
.carVisible{
    visibility: visible;
    opacity: 1;
}
.carCache{
    visibility: hidden;
    opacity: 0;
}
#carousel img{
    transition: 1s;
    position: absolute;
    min-width: 1800px;
}
#carousel{
    position: relative;
    height: 800px;
    width: 100%;
    overflow: hidden;
}
#punchline{
    position: absolute;
    color: white;
    left: 20%;
    top: 200px;
    font-size: 4rem;
}
#punchTexte{
    position: absolute;
    color: white;
    top: 400px;
    font-size: 2rem;
    padding: 15px;
    text-align: center;
}
#topPage{
    overflow: hidden;
    padding-top: 120px;
}

#logo{
    width: 120px;
}
#scrollDownIcon{
    width: 50px;
    color: white;
    position: absolute;
    right: 45%;
    bottom: 0;
    opacity: 80%;
}

/* Section Présentation Moto */
#presMoto{
    display: flex;
    flex-flow: row wrap;
    margin-top: 50px;
}
#presMoto h2{
    padding-top: 60px;
    color: #e6d62b;
}
#presMoto p{
    color: white;
}
.gauche{
    width: 55%;
}
.encar{
    width: 45%;
}
.glowJaune{
    text-shadow: 0px 0px 10px #fded2a, 0px 0px 10px #fded2a;

}
#titre2{
    margin-top: 180px;
}
@media screen and (max-width: 1732px){
    #presMoto h2{
        padding-top: 40px;
    }
}
@media screen and (max-width: 1559px){
    #presMoto h2{
        padding-top: 20px;
    }
}
@media screen and (max-width: 1550px){
    #titre2{
        margin-top: 100px;
    }
}
/* MEDIA QUERIES */

@media screen and (min-width: 768px){
    header a.icon {
        display: none;
    }
    #liens{
        display: flex;
        position: absolute;
        right: 10px;
        top: 30px;
        
    }
    header{
        padding-bottom: 10px;
    }
    header a{
        transition: text-shadow 1s;
    }
    header .un:hover{
        color: #fded2a;
        text-shadow: 0px 0px 65px rgba(20,84,204,1), 0px 0px 65px rgba(20,84,204,1),0px 0px 65px rgba(20,84,204,1),0px 0px 65px rgba(20,84,204,1);
    }
    .un {
        display: inline-block;
      }
      
      .un::after {
        content: '';
        width: 0px;
        height: 1px;
        display: block;
        background: black;
        transition: 300ms;
      }
      
      .un:hover::after {
        width: 100%;
      }
}